:root {
    --primary-color: #0d3c5c;
    --secondary-color: #34bf6e;
    --text-color: #16251b;
}
* {
    box-sizing: border-box; /*Ensures padding and border are included in the total width and height of elements ! */
}
body {
    font-family: Sedan, sans-serif;
    color: var(--text-color, black);
    background-color: #c7ffd1;
}

input[type="text"] {
    border: 2px solid var(--secondary-color);
}

header, footer {
    background-color: var(--primary-color);
    color: white;
    padding: 10px;
    text-align: center;
}

h1, h2, h3 {
    color: var(--secondary-color);
}

ul {
    padding-left: 20px;
}

@media (max-width: 600px) {
    body {
        background-color: #bdc3c7;
    }

    h1 {
        font-size: 18px;
        color: hsla(210, 100%, 50%, 0.8);
    }
}

section {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

#attendees {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

#agenda {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    border: 2px solid var(--secondary-color);
    padding: 15px;
    margin: 2rem auto;
    position: relative;
}

li {
    margin-bottom: 5px;
}

li {
    text-decoration: underline;
    display: inline-block; /*Display list items inline with the block properties ! */
}

li:hover {
    background-color: var(--primary-color);
}

section:has(h3) {
    border-style: dashed;
}

.button {
    background-color: var(--primary-color);
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

header, footer, button {
    font-weight: bold;
}

section h3 {
    margin-top: 10px;
}

header > h1 {
    margin-bottom: 0;
}

h1 ~ p {
    color: var(--primary-color);
}

h1 + p {
    font-style: italic;
}

section {
    h3 {
        color: red;
    }
}